@import "tailwindcss";

:root {
  --background: #DEDBD2;
  --foreground: #4A5759;
  --text-align-default: center;
  --padding-default: 4px;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-eb), Arial, Helvetica, sans-serif;
  padding: var(--padding-default);
}

@layer components {

.navlink{
  @apply hover:text-[#F7E1D7] transition text-lg;
}
.ico{
  @apply transition transform  hover:text-[#F7E1D7];
}
}